extends ../Layout.pug
include ../components/StatusBar.pug
include ../components/SubHeader.pug
include ../components/LoginForm.pug
include ../components/TextButton.pug
include ../components/CheckInput.pug
include ../components/Input.pug
include ../components/SubButton.pug

include ../components/EnglishPad.pug
include ../components/NumberPad.pug

block styles
  link(rel="stylesheet", href="/css/global.css")
  link(rel="stylesheet", href="/css/screens/inputEmail.css")
  link(rel="stylesheet", href="/css/components/statusbar.css")
  link(rel="stylesheet", href="/css/components/subheader.css")
  link(rel="stylesheet", href="/css/components/textButton.css")
  link(rel="stylesheet", href="/css/components/checkInput.css")
  link(rel="stylesheet", href="/css/components/input.css")
  link(rel="stylesheet", href="/css/components/subButton.css")
  link(rel="stylesheet", href="/css/components/englishPad.css")
  link(rel="stylesheet", href="/css/components/numberPad.css")
block content
  div(class="container")
    +StatusBar()
    -
      const headerProps = {
        leftSrc: '/resource/arrow-back.svg',
        title: '회원가입',
        rightText: '완료',
        rightBtnClassSelector: 'finish-btn'
      }
    -
    +SubHeader(headerProps)
    div(id="inputEmail__container")
      div(id="inputEmail__inputButtonContainer")
        div(id="inputEmail__inputButtonContainer__left")
          +Input({ name: "email", headerText: "이메일", placeholder: "이메일을 입력해주세요", isIcon: true })
        div(id="inputEmail__inputButtonContainer__right")
          div(id="inputEmail__inputButtonContainer__right--blank")
          div(id="inputEmail__subButtonContainer")
            +SubButton({ classSelector: "duplicate-btn", content: "중복확인" })
  +EnglishPad()
  +NumberPad()


block scripts 
  script(src="/js/inputEmail.js") 
  script(src="/js/dial.js")
