include ../components/SubHeader.pug
include ../components/LoginForm.pug
include ../components/TextButton.pug
include ../components/SocialLoginContainer.pug

doctype html
head 
    style
        include ../../public/css/global.css
        include ../../public/css/login.css
        include ../../public/css/components/textButton.css
body 
    div(class="class1" id="phone__container")
        div(id="phone__statusBar")
            p status-bar area
        +SubHeader()
        +LoginForm()
        +SocialLoginContainer()
        div(id="signUp__container")
            p 혹시, 배달의 민족이 처음이신가요?
            +TextButton("회원가입")