mixin Button(color, size, desc, classSelector)
  if classSelector !== undefined
    button(type="submit", class=`${classSelector} btn btn-${color} btn-${size} btn-disable`)= desc
  else 
    button(class=`btn btn-${color} btn-${size} btn-disable`)= desc
  
