mixin Checkbox(id, name, label, isIcon)
  div(class="checkbox-item")
    div(class="checkbox-input")
      input(type="checkbox", name= name, id= id)/
      label(for= id)= label
    if isIcon
      div(class="checkbox-more-btn")
        img(src="/resource/chevron-forward.svg", alt="chevron-forward")