mixin Checkbox(props)
  div(class="checkbox-item")
    div(class="checkbox-input")
      img(id= props.id class="checkbox-input__img" src="/resource/checkbox_F.png", alt="checkbox", data-checked-src='/resource/checkbox_T.png' data-unchecked-src="/resource/checkbox_F.png")
      label(class=props.optionalClass for= props.id)= props.label
    if props.isIcon
      div(class="checkbox-more-btn")
        img(src="/resource/chevron-forward.svg", alt="chevron-forward")