//- headerText : input에 대한 header에 들어갈 문구
//- placeholderText : placeholder로 들어갈 문구

mixin CheckInput(headerText, placeholderText)
  div(class="checkInput__container")
    p #{headerText}
    div(class="checkInput__input")
      input(placeholder=placeholderText)