
mixin EnglishPad()
  div(class="emptyPadSpace nonExist englishPad")
  div(class="pad--container nonExist englishPad")
    div(class="pad--row row1")
      div(class="dial--english" id="dial-p") 
        p q
      div(class="dial--english" id="dial-w") 
        p w
      div(class="dial--english" id="dial-e") 
        p e
      div(class="dial--english" id="dial-r") 
        p r
      div(class="dial--english" id="dial-t") 
        p t
      div(class="dial--english" id="dial-y") 
        p y
      div(class="dial--english" id="dial-u") 
        p u
      div(class="dial--english" id="dial-i") 
        p i
      div(class="dial--english" id="dial-o") 
        p o
      div(class="dial--english" id="dial-p") 
        p p
    div(class="pad--row row2")
      div(class="row2--empty-side")
      div(class="dial--english" id="dial-a") 
        p a
      div(class="dial--english" id="dial-s") 
        p s
      div(class="dial--english" id="dial-d") 
        p d
      div(class="dial--english" id="dial-f") 
        p f
      div(class="dial--english" id="dial-g") 
        p g
      div(class="dial--english" id="dial-h") 
        p h
      div(class="dial--english" id="dial-j") 
        p j
      div(class="dial--english" id="dial-k") 
        p k
      div(class="dial--english" id="dial-l") 
        p l
      div(class="row2--empty-side")

    div(class="pad--row")
      div(class="dial--altKey greyKey" id="dial-shift")
        p shift
      div(class="dial--english" id="dial-z") 
        p z
      div(class="dial--english" id="dial-x") 
        p x
      div(class="dial--english" id="dial-c") 
        p c
      div(class="dial--english" id="dial-v") 
        p v
      div(class="dial--english" id="dial-b") 
        p b
      div(class="dial--english" id="dial-n") 
        p n
      div(class="dial--english" id="dial-m") 
        p m
      div(class="dial--altKey greyKey" id="dial-back")
        p back
    div(class="pad--row")
      div(class="dial--altKey greyKey" id="dial-123")
        p 123
      div(class="dial--altKey greyKey" id="dial-smile") 
        p : )
      div(class="dial--space" id="dial-spaace") 
        p space
      div(class="dial--english" id="dial-email") 
        p @
      div(class="dial--english" id="dial-dot") 
        p .
      div(class="dial--longAltKey" id="dial-enter")
        p next
    div(class="pad--row")
