
mixin EnglishPad()
  div(class="emptyPadSpace nonExist englishPad")
  div(class="pad--container nonExist englishPad")
    div(class="pad--row row1")
      div(class="dial--english dialBtn" id="dial-p" data-dial-value="q") 
        p q
      div(class="dial--english dialBtn" id="dial-w" data-dial-value="w") 
        p w
      div(class="dial--english dialBtn" id="dial-e" data-dial-value="e") 
        p e
      div(class="dial--english dialBtn" id="dial-r" data-dial-value="r") 
        p r
      div(class="dial--english dialBtn" id="dial-t" data-dial-value="t") 
        p t
      div(class="dial--english dialBtn" id="dial-y" data-dial-value="y") 
        p y
      div(class="dial--english dialBtn" id="dial-u" data-dial-value="u") 
        p u
      div(class="dial--english dialBtn" id="dial-i" data-dial-value="i") 
        p i
      div(class="dial--english dialBtn" id="dial-o" data-dial-value="o") 
        p o
      div(class="dial--english dialBtn" id="dial-p" data-dial-value="p") 
        p p
    div(class="pad--row row2")
      div(class="row2--empty-side")
      div(class="dial--english dialBtn" id="dial-a" data-dial-value="a") 
        p a
      div(class="dial--english dialBtn" id="dial-s" data-dial-value="s") 
        p s
      div(class="dial--english dialBtn" id="dial-d" data-dial-value="d") 
        p d
      div(class="dial--english dialBtn" id="dial-f" data-dial-value="f") 
        p f
      div(class="dial--english dialBtn" id="dial-g" data-dial-value="g") 
        p g
      div(class="dial--english dialBtn" id="dial-h" data-dial-value="h") 
        p h
      div(class="dial--english dialBtn" id="dial-j" data-dial-value="j") 
        p j
      div(class="dial--english dialBtn" id="dial-k" data-dial-value="k") 
        p k
      div(class="dial--english dialBtn" id="dial-l" data-dial-value="l") 
        p l
      div(class="row2--empty-side")

    div(class="pad--row")
      div(class="dial--altKey greyKey dialBtn" id="dial-shift" data-dial-value="shift")
        p shift
      div(class="dial--english dialBtn" id="dial-z" data-dial-value="z") 
        p z
      div(class="dial--english dialBtn" id="dial-x" data-dial-value="x") 
        p x
      div(class="dial--english dialBtn" id="dial-c" data-dial-value="c") 
        p c
      div(class="dial--english dialBtn" id="dial-v" data-dial-value="v") 
        p v
      div(class="dial--english dialBtn" id="dial-b" data-dial-value="b") 
        p b
      div(class="dial--english dialBtn" id="dial-n" data-dial-value="n") 
        p n
      div(class="dial--english dialBtn" id="dial-m" data-dial-value="m") 
        p m
      div(class="dial--altKey greyKey dialBtn" id="dial-back" data-dial-value="back")
        p back
    div(class="pad--row")
      div(class="dial--altKey greyKey dialBtn" id="dial-123" data-dial-value="toNum")
        p 123
      div(class="dial--altKey greyKey dialBtn" id="dial-smile" data-dial-value="imo") 
        p : )
      div(class="dial--space dialBtn" id="dial-spaace" data-dial-value="space") 
        p space
      div(class="dial--english dialBtn" id="dial-email" data-dial-value="@") 
        p @
      div(class="dial--english dialBtn" id="dial-dot" data-dial-value=".") 
        p .
      div(class="dial--longAltKey dialBtn" id="dial-enter" data-dial-value="enter")
        p next
    div(class="pad--row")
