mixin Input({ name, headerText, placeholder, type = "text" })
  div(class="input-container")
    if headerText
      p(class="header-text") #{headerText}
    div(class="input-container__body")
      input(name= name, type= type, class="input--not-filled",placeholder= placeholder)
      //- span(class="danger-text") danger 문구