include PrimeButton.pug
include TextButton.pug

mixin LoginForm()
    div(class="loginForm__container")
        form(action="" class="loginForm")
            input(type="text" placeholder="아이디 또는 이메일") 
            input(type="password" placeholder="비밀번호")
        +PrimeButton("로그인", true)
        div(class="finder__container")
            +TextButton("아이디 찾기", "gray")
            div(class="finder__divider")
            +TextButton("비밀번호 찾기", "gray")