include TextButton.pug
include Button.pug
include Input.pug

mixin LoginForm(preEmail)
    div(class="loginForm__container")
        form(action="/api/logIn", class="loginForm", method="POST")
            if preEmail
                +Input({ name: 'email', placeholder: '아이디 또는 이메일', type:'text', value: preEmail })
            else
                +Input({ name: 'email', placeholder: '아이디 또는 이메일'})
            +Input({ name: 'password', placeholder: '비밀번호', type: "password" })
        +Button("primary", "lg", "로그인", 'signin-submit')
        div(class="finder__container")
            +TextButton("아이디 찾기", "gray")
            div(class="finder__divider")
            +TextButton("비밀번호 찾기", "gray")