mixin NumberPad 
  div(class="emptyPadSpace nonExist numberPad")
  div(class="pad--container nonExist numberPad")
    div(class="numberPad--row")
      div(class="numberPad-dial" id="dial1" data-dial-value="1")
        p(class="largeNumber") 1
        div(class="smallDetail")  
      div(class="numberPad-dial" id="dial2" data-dial-value="2")
        p(class="largeNumber") 2
        p(class="smallDetail") A B C
      div(class="numberPad-dial" id="dial3" data-dial-value="3")
        p(class="largeNumber") 3
        p(class="smallDetail") D E F
    div(class="numberPad--row")
      div(class="numberPad-dial" id="dial4" data-dial-value="4")
        p(class="largeNumber") 4
        p(class="smallDetail") G H I
      div(class="numberPad-dial" id="dial5" data-dial-value="5")
        p(class="largeNumber") 5
        p(class="smallDetail") J K L
      div(class="numberPad-dial" id="dial6" data-dial-value="6")
        p(class="largeNumber") 6
        p(class="smallDetail") M N O
    div(class="numberPad--row")
      div(class="numberPad-dial" id="dial7" data-dial-value="7")
        p(class="largeNumber") 7
        p(class="smallDetail") P Q R S
      div(class="numberPad-dial" id="dial8" data-dial-value="8")
        p(class="largeNumber") 8
        p(class="smallDetail") T U V
      div(class="numberPad-dial" id="dial9" data-dial-value="9")
        p(class="largeNumber") 9
        p(class="smallDetail") W X Y Z
    div(class="numberPad--row")
      div(class="numberPad-dial" id="toEng" data-dial-value="toEng")
        p(class="largeNumber") a
        div(class="smallDetail")  
      div(class="numberPad-dial" id="dial0" data-dial-value="0")
        p(class="largeNumber") 0
        div(class="smallDetail")  
      div(class="numberPad-dial" id="back" data-dial-value="back")
        p(class="largeNumber") &#60;-
    div(class="numberPad--row")
      div(class="numberPad-empty")
      div(class="numberPad-empty")
      div(class="numberPad-empty")