mixin NumberPad 
  div(class="pad--container")
    div(class="numberPad--row")
      div(class="numberPad-dial" id="dial1")
        p(class="largeNumber") 1
        div(class="smallDetail")  
      div(class="numberPad-dial" id="dial2")
        p(class="largeNumber") 2
        p(class="smallDetail") A B C
      div(class="numberPad-dial" id="dial3")
        p(class="largeNumber") 3
        p(class="smallDetail") D E F
    div(class="numberPad--row")
      div(class="numberPad-dial" id="dial4")
        p(class="largeNumber") 4
        p(class="smallDetail") G H I
      div(class="numberPad-dial" id="dial5")
        p(class="largeNumber") 5
        p(class="smallDetail") J K L
      div(class="numberPad-dial" id="dial6")
        p(class="largeNumber") 6
        p(class="smallDetail") M N O
    div(class="numberPad--row")
      div(class="numberPad-dial" id="dial7")
        p(class="largeNumber") 7
        p(class="smallDetail") P Q R S
      div(class="numberPad-dial" id="dial8")
        p(class="largeNumber") 8
        p(class="smallDetail") T U V
      div(class="numberPad-dial" id="dial9")
        p(class="largeNumber") 9
        p(class="smallDetail") W X Y Z
    div(class="numberPad--row")
      div(class="numberPad-dial dial-empty" id="dial0")
      div(class="numberPad-dial" id="dial0")
        p(class="largeNumber") 0
        div(class="smallDetail")  
      div(class="numberPad-dial dial-empty")
    div(class="numberPad--row")
      div(class="numberPad-empty")
      div(class="numberPad-empty")
      div(class="numberPad-empty")