mixin StatusBar()
  header(class="status-bar")
    div(class="bar__left")
      span BM 
      span 22:56
    div(class="bar__right")
      img(src="/resource/reception.svg", alt="reception")
      img(src="/resource/wifi.svg", alt="wifi")
      img(src="/resource/battery.svg", alt="battery")
