mixin StatusBar()
  header(class="status-bar")
    div(class="bar__left")
      span BM 
      span 22:56
    div(class="bar__right")
      img(src="/images/reception.svg", alt="reception")
      img(src="/images/wifi.svg", alt="wifi")
      img(src="/images/battery.svg", alt="battery")
