include components/SubHeader.pug

doctype html
head 
    style
        include ../public/stylesheets/common.css
        include ../public/stylesheets/login.css
body 
    div(class="class1" id="phone-container")
        div#phone-status-bar
            p status-bar area
        SubHeader( 어쩌구 저쩌구 )
        include components/LoginForm.pug
        include SocialLoginContainer.pug
        div#sign-up-container
            p 혹시, 배달의 민족이 처음이신가요?
            - var textButtonValue = "회원가입";
            include components/TextButton.pug 