:root{
  --default-px: 14px;
  --default-border-color: #efefef;
  --bright-grey: #dfdfdf;
  --sub-desc-size: 12px;
  --sub-desc-default-color: #9C9C9C;
  --bm-red: #F24A39;
  --bm-mint: #2ac1bc;
  --bm-gray: #ccc;
}