.checkInput__container {
  width: 100%;
}

.checkInput__container > p {
  width: 100%;
  font-size: 14px;
  margin-bottom : 14px;
}

.checkInput__input {
  width: 100%;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  padding-bottom: 7px;
}

.checkInput__input > input {
  width: calc(100% - 62px);
  height: 20px;
  font-size: 14px;
  border-style: none;
  margin-right : 14px;
}

.checkInput__input > input:placeholder {
  color: var(--bm-gray);
}

.checkInput__input > .cancleButton {
  width: 20px;
  height: 20px;
  margin-right: 14px;
}

.checkInput__input > .checkButton {
  width: 14px;
  height: 14px;
}