.checkbox-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-item > div{
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.checkbox-input{}

.checkbox-input > input{
  display: none;
}

.checkbox-input > img{
  width: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox-input > label{
  font-size: 14px;
}

.checkBox__title {
  font-weight: 600;
}

.checkBox__subTitle {
  color: #333;
}

.checkbox-more-btn{
  font-size: 24px;
  cursor: pointer;
}

.checkbox-more-btn > img{
  width: 0.8em;
}