.loginForm {
  width: 100%;
}

.loginForm > input {
  width: 100%;
  height: 42px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  border-style: none;
  border-bottom: 1px solid #ccc;
}
.loginForm > input::placeholder {
  color: #ccc;
}