.radio-item{
  position: relative;
  display:flex;
  align-items: center;
  height: 60px;
  margin: 8px 0px;
  background-color: #F6F6F6;
  border-radius: 8px;
}

.radio-item > input{
  display: none;
}

.radio-item > .radio__label{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  background-size:cover;
}

.radio-item > .radio__label__up{
  background-image: url('/resource/14ageup_F.png');
}

.radio-item > .radio__label__up--check{
  background-image: url('/resource/14ageup_T.png');
}

.radio-item > .radio__label__down{
  background-image: url('/resource/14agedown_F.png');
}

.radio-item > .radio__label__down--check{
  background-image: url('/resource/14agedown_T.png');
}