.h1-description{
  padding: 24px 0;
}

.h1-description > h1{
  font-size:24px;
}

.checkbox-header{
  padding: 8px 0;
}

.checkbox-list{
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.btn-container{
  position: absolute;
  width:100%;
  padding: 24px var(--default-px); 
  left:0;
  bottom: 0;
}